doctype html
html(lang='en')
  head
    title Home | E-Shopper
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/font-awesome.min.css', rel='stylesheet')
    link(href='/stylesheets/main.css', rel='stylesheet')
    script(src='/javascripts/jquery-1.11.3.min.js')
    script(src='/javascripts/bootstrap-3.3.5.min.js')
  body
    include ../header
  section <br/><br/>
    .container
      .row
        .col-sm-1
        .col-sm-2
          .left-sidebar
            #accordian.panel-group.category-products
              .panel-default
                a(href='#'): h5 Muh Riansyah
                a(href='#'): b Toko Barokah <br/>
              .panel-default
                ul.nav.nav-list
                  li.nav-header: h5: b Toko Saya
                  li: a(href='/penjualan/daftarpenjualan') Penjualan
                  li: a(href='/produk/tambah') Tambah Produk
                  li: a(href='/produk/daftar') Daftar Produk
                  li: a(href='/toko/pengaturan') Pengaturan Toko
                  li.nav-header: h5: b Profil Saya
                  li: a(href='/pembelian/daftarpembelian') Pembelian
                  li: a(href='/toko/favorit') Toko Favorit
                  li: a(href='/produk/wishlist') Wish List
                  li: a(href='#') Pengaturan
            // konten disimpan di block content
        .col-sm-8.padding-right
          block content

append footer
    footer#footer
      // Footer
      br
      br
      .footer-bottom
        .container
          .row
            p.pull-left © 2015 pasarmantap
            p.pull-right
              | Designed by
              span
                a(target='_blank', href='http://www.themeum.com') Themeum
