
append header
    header#header
        // header
        .header-middle
            // header_top
            .container
                .row
                    .col-sm-1
                    .col-sm-2
                        .logo.pull-left
                            if (nama)
                                a(href='/pengguna/beranda'): img(src='/images/home/logo.png', alt='')
                            else
                                a(href='/'): img(src='/images/home/logo.png', alt='')
                                a(href='/pengguna/beranda') beranda
                    .col-sm-9
                        .mainmenu
                            ul.nav.navbar-nav
                                li.dropdown
                                    a(href='#')
                                        | Kategori
                                        i.fa.fa-angle-down
                                    ul.sub-menu(role='menu',style='width:250px')
                                            li: a(href='/produk/daftarbykategori/1') Pakaian
                                            li: a(href='/produk/daftarbykategori/2') Buku
                                            li: a(href='/produk/daftarbykategori/3') Mainan & Hobi
                                            li: a(href='/produk/daftarbykategori/5') Software
                                            li: a(href='/produk/daftarbykategori/6') Film
                                            li: a(href='/produk/daftarbykategori/7') Musik
                                            li: a(href='/produk/daftarbykategori/8') Otomotif
                                            li: a(href='/produk/daftarbykategori/9') Elektronik
                                            li: a(href='/produk/daftarbykategori/10') Kamera
                                            li: a(href='/produk/daftarbykategori/11') Laptop & Notebook
                                            li: a(href='/produk/daftarbykategori/12') Tablet & Smartphone
                                            li: a(href='/produk/daftarbykategori/13') Sepatu
                                li

                                        form(action='/cekPencarian', method='get')
                                            input(type='text', placeholder='Cari Toko/Produk')
                                            select(name='pilihan')
                                                option  Semua Kategori
                                                option(value='1')  Pakaian
                                                option(value='2') Buku
                                                option(value='3') Mainan & Hobi
                                                option(value='5') Software
                                                option(value='6') Film
                                                option(value='7') Musik
                                                option(value='8') Otomotif
                                                option(value='9') Elektronik
                                                option(value='10') Kamera
                                                option(value='11') Laptop & Notebook
                                                option(value='12') Tablet & Smartphone
                                                option(value='13') Sepatu
                                            input.btn-primary(type='submit', value='cari')

                                if (nama)
                                    li
                                        a.dropdown(href='#', data-toggle='dropdown')
                                            img(src='/images/default-user-photo.png',width='30')
                                        div.dropdown-menu
                                            a.dropdown(href='#', data-toggle='dropdown') keluar
                                else
                                    li
                                        a(href='#')
                                            i.fa.fa-user
                                            |  Daftar
                                    li
                                        a.dropdown(href='#', data-toggle='dropdown')
                                            i.fa.fa-sign-in
                                            |  Masuk
                                        div.dropdown-menu
                                            form(method='post',style='padding : 20px')
                                                p: input(type='text', placeholder='Email')
                                                p: input(type='password', placeholder='Sandi')
                                                p: input.btn.btn-primary(type='submit' value='Masuk')


