extends ../layout  

append content            
            .category-tab        
             h3 #{tabMenu}
             br 
            .category-tab
              // category-tab
              .col-sm-12
                ul.nav.nav-tabs
                  li: a(href='/penjualan/pesananbaru') Pesanan Baru
                  li: a(href='/penjualan/konfirmasipengiriman') Konfirmasi Pengiriman
                  li: a(href='/penjualan/statuspengiriman') Status Pengiriman
                  li: a(href='/penjualan/daftarpenjualan') Daftar Transaksi
                .tab-content                   
                 block contentDalam
