extends ../layout  
  
append content

            .category-tab        
             h3 Toko Barokah 
             br 
             .col-sm-12
                ul.nav.nav-tabs
                  li
                    a(href='#blazers', data-toggle='tab') Informasi Toko
                  li
                    a(href='#sunglass', data-toggle='tab') Pengiriman
                  li
                    a(href='#kids', data-toggle='tab') Etalase
                  li
                    a(href='#poloshirt', data-toggle='tab') Catatan
                  li
                    a(href='#poloshirt', data-toggle='tab') Lokasi                    
              .tab-content
                #tshirt.tab-pane.fade.active.in
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/images/home/gallery1.jpg', alt='')
                          h2 Rp 56.000
                          .row-fluid
                            span.col-sm-8
                              b
                                a(href='#') Easy Polo Black Edition
                            span.text-right.ellipsis
                              i.fa.fa-dribbble  
                              | jakarta
                          hr
                          i.fa.fa-star
                          a(href='#') Barokah Clothing
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/images/home/gallery1.jpg', alt='')
                          h2 Rp 56.000
                          .row-fluid
                            span.col-sm-8
                              b
                                a(href='#') Easy Polo Black Edition
                            span.text-right.ellipsis
                              i.fa.fa-dribbble  
                              | jakarta
                          hr
                          i.fa.fa-star
                          a(href='#') Barokah Clothing
                #blazers.tab-pane.fade
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/images/home/gallery4.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/images/home/gallery3.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/images/home/gallery2.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/images/home/gallery1.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                #sunglass.tab-pane.fade
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/images/home/gallery3.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/images/home/gallery4.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                          img.new(src='/images/home/sale.png', alt='')
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/images/home/gallery1.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/images/home/gallery2.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                #kids.tab-pane.fade
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/images/home/gallery1.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/images/home/gallery2.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/images/home/gallery3.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/images/home/gallery4.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                #poloshirt.tab-pane.fade
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/images/home/gallery2.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/images/home/gallery4.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/images/home/gallery3.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/images/home/gallery1.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
            // /category-tab punya penjualan

            