extends layoutTabPembelian
  
append contentDalam
  .col-sm-3
   .product-image-wrapper
     .single-products
       .productinfo.text-center
         img(src='/images/home/gallery1.jpg', alt='')
         h2 Rp 56.000
         .row-fluid
           span.col-sm-8
             b
               a(href='#') Easy Polo Black Edition
           span.text-right.ellipsis
             i.fa.fa-dribbble  
             | jakarta
         hr
         i.fa.fa-star
         a(href='#') Barokah Clothing