extends layoutTabPembelian
append contentDalam
  .alert.alert-warning  
    p Kami akan otomatis membatalkan transaksi dan mengembalikan dana Anda apabila:    
        li 
         Penjual tidak merespon order Anda sampai batas waktu respon (3 hari).
        li 
         Penjual tidak mengkonfirmasi pengiriman order Anda sampai batas waktu respon (5 hari kerja).
  .alert.alert-danger
   center 
       h4 
        b Tidak ada daftar pemesanan
