
script(src='/javascripts/jquery.min.js')
script(src='/javascripts/bootstrap.min.js')
link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
.container
  h2 Simple Collapsible
  button(type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo") Simple collapsible
  #demo.collapse
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

